/* carousal start */
.add-payment .carousel-indicators {
  bottom: 20px;
  margin-bottom: 0;
}
.add-payment .carousel-indicators [type="button"] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}
.add-payment .carousel-indicators [type="button"].active {
  background-color: var(--maincolor);
  width: 24px;
  height: 8px;
  border-radius: 4px;
}
.add-payment .carousel-indicators [type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* carousal end */
/* add payment form start */
.add-payment .form-control {
  border: 1px solid #79747e;
}
.add-payment .card_inputs {
  position: relative;
}
.add-payment .input-group {
  border: 1px solid #79747e;
  border-radius: 0.375rem;
}
.add-payment .card_inputs .form-label {
  color: var(--blackishgreencolor);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  font-size: 12px;
  padding: 0 4px;
  z-index: 1;
  color: var(--blackishgreencolor);
}
.add-payment .card_inputs .form-control::placeholder {
  color: #1c1b1f;
  font-size: 14px;
}
.add-payment .card_inputs .form-select {
  border-color: #79747e;
  box-shadow: none;
}
.add-payment .form-check .form-check-input[type="checkbox"] {
  border-radius: 3px;
}
.add-payment .form-check .form-check-input:checked {
  background-color: #000;
  border-color: #000;
}
.add-payment .form-check .form-check-input:focus {
  border-color: #000;
  outline: 0;
}
/* add payment form end */
/* sign up form end */
.carousel {
  animation: SlideInLeft 1.2s ease;
}
.add-payment_form {
  animation: SlideInRight 1.2s ease;
}
.add-payment_form .checkbox .form-check-input {
  transition: all 0.3s ease;
}
.add-payment_form .checkbox .form-check-input:checked {
  animation: BigBounce 0.4s ease;
}
