/* navbar start */
.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 1rem;
}
.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link.show::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 7px;
  height: 5px;
  background-color: var(--maincolor);
  width: 90%;
}
@media screen and (max-width: 992px) {
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link.show::after {
    opacity: 0;
  }
  .navbar-nav .active-mobile {
    color: var(--maincolor) !important;
  }
  .navbar-nav .active-mobile svg path {
    fill: var(--maincolor);
  }
}
.navbar .favourites_btn {
  position: relative;
}
.navbar .favourites_btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 2px;
  right: -25px;
  width: 2px;
  height: 20px;
  vertical-align: middle;
  background-color: #000;
}
.navbar .user__img .arrow_down {
  bottom: 0;
  right: 2px;
}
@media screen and (max-width: 992px) {
  .navbar .favourites_btn::after {
    display: none;
  }
}
/* navbar end */
/* hero start */
.hero .ticket_image {
  height: 300px;
}
/* hero end */
/* terms start */
.terms .payment_terms li::marker {
  font-weight: normal;
  color: var(--blackishgreencolor);
  font-size: 10px;
}
/* terms end */
/* newsletter start */
.newsletter {
  bottom: -150px;
}
.newsletter .container {
  background-color: #cdeae1;
  border-radius: 20px;
}
.newsletter .newsletter__content h2 {
  font-size: 44px;
}
@media screen and (max-width: 576px) {
  .newsletter .newsletter-illustration {
    width: 100%;
    height: 100%;
  }
}
/* newsletter end */
/* footer start */
.footer {
  background-color: #8dd3bb;
  padding: 230px 0 50px 0;
}
.footer .item {
  opacity: 70%;
}
/* footer end */
/* hovers and animations */
.hero .breadcrumb {
  animation: fadeInUp 1.2s ease;
}
.hero .flight_info .text_info {
  animation: SlideInLeft 1.2s ease;
}
.hero .flight_info .price_info {
  animation: SlideInRight 1.2s ease;
}
.hero .flight_info .price_info .share_btn {
  transition: all 0.3s ease;
}
.hero .flight_info .price_info .share_btn:hover {
  transform: rotate(5deg);
  background: var(--maincolor);
}
.hero .flight_info .price_info .share_btn:hover svg path {
  stroke: #fff;
  fill: #fff;
}
.hero .ticket_image {
  animation: fadeInUp 1.2s ease;
}
.terms h2 {
  animation: SlideInLeft 1.2s ease;
}
.terms .payment h3,
.terms .contant h3 {
  animation: SlideInLeft 1.3s ease;
}
.terms .payment_terms,
.terms .contant p {
  animation: fadeInUp 1.4s ease;
}
