/* navbar start */
.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 1rem;
}
.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link.show::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 6px;
  height: 5px;
  background-color: var(--maincolor);
  width: 90%;
}
@media screen and (max-width: 992px) {
  .navbar-nav .nav-link.active::after,
  .navbar-nav .nav-link.show::after {
    opacity: 0;
  }
  .navbar-nav .active-mobile {
    color: var(--maincolor) !important;
  }
  .navbar-nav .active-mobile svg path {
    fill: var(--maincolor);
  }
}
/* navbar start */
/* hero start */
.hero {
  background-image: url(../images/flights-search/hero/flights-search-hero-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.3);
} */
.hero .hero__text {
  width: 35%;
}
.hero .hero__text h1 {
  font-size: 3rem;
}
.hero .search__card {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 #8dd3ba26;
  top: 80%;
  left: 0;
}
.hero .search__card .search__fieldset {
  border: 1px #000 solid;
  border-radius: 4px;
  height: 56px;
}
.hero .search__card .search__legend {
  background-color: #fff;
  top: -15px;
  left: 10px;
}
.hero .search__card form input::placeholder {
  color: #000;
}
.hero .search__card form input:focus-visible {
  outline: none;
}
.hero .search__card .form-select {
  border: none;
}
.search__fieldset select:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
@media screen and (max-width: 1200px) {
  .hero .hero__text {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .hero .search__card {
    top: 70%;
  }
  .hero .hero__text h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero .hero__text {
    width: 100%;
    padding: 0 4rem 2rem 4rem;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    margin: 15px;
    border-radius: 16px;
  }
  .hero .hero__text h1 {
    font-size: 1.5rem;
  }
  .hero .hero__text p {
    font-size: 1rem;
  }
  .hero .nav-link {
    font-size: 14px;
    padding: 8px 12px;
  }
  .hero .nav-link svg {
    width: 18px;
    height: 18px;
  }
  .hero .search__card .search__fieldset {
    padding: 8px 12px;
  }
  .hero .search__card .search__legend {
    font-size: 12px;
    padding: 0 4px;
  }
  .hero .search__card form input {
    font-size: 14px;
  }
  .hero .btn {
    font-size: 14px;
    padding: 6px 12px;
  }
}
/* hero end */
/* map start */
.map .bg__layout {
  background-image: url(../images/flights-search/map/map-bg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 486px;
}
@media screen and (min-width: 1200px) {
  .map {
    margin-top: 10.25rem;
  }
}
@media screen and (max-width: 1200px) {
  .map {
    margin-top: 10rem;
  }
}
@media screen and (max-width: 992px) {
  .map {
    margin-top: 26.5rem;
  }
}
@media screen and (max-width: 768px) {
  .map {
    margin-top: 26.5rem;
  }
}
@media screen and (max-width: 576px) {
  .map {
    margin-top: 24rem;
  }
}
/* map end */
/* fall travel start */
.fall-travel .card {
  height: 420px;
  border-radius: 12px;
}
.fall-travel .card_Melbourne {
  background-image: url(../images/flights-search/fall-travel/Melbourne.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fall-travel .card_Paris {
  background-image: url(../images/flights-search/fall-travel/Paris.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fall-travel .card_London {
  background-image: url(../images/flights-search/fall-travel/London.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.fall-travel .card_Columbia {
  background-image: url(../images/flights-search/fall-travel/Columbia.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* fall travel end */
/* featured destination start */
.featured-destination .destination__card {
  background-color: var(--maincolor);
  border-radius: 24px;
}
.featured-destination .price_padge {
  width: 80px;
  height: 80px;
}
/* featured destination end */
