/* forgot password form start */
.forgot-password .input_item {
  position: relative;
}
.forgot-password .input_item .form-label {
  top: -10px;
  left: 10px;
  color: #1c1b1f;
  z-index: 2;
}
.forgot-password .input_item .form-control {
  border-color: #79747e;
}
.forgot-password .input_item .form-control::placeholder {
  color: #1c1b1f;
}
.forgot-password .devider::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 35%;
  background-color: var(--blackishgreencolor);
  opacity: 25%;
}
.forgot-password .devider::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 35%;
  background-color: var(--blackishgreencolor);
  opacity: 25%;
}
/* forgot password form end */
/* carousal start */
.forgot-password .carousel-indicators {
  bottom: 20px;
  margin-bottom: 0;
}
.forgot-password .carousel-indicators [type="button"] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}
.forgot-password .carousel-indicators [type="button"].active {
  background-color: var(--maincolor);
  width: 24px;
  height: 8px;
  border-radius: 4px;
}
.forgot-password .carousel-indicators [type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* carousal end */
/* hovers and animations */
.carousel {
  animation: SlideInRight 1.2s ease;
}
.forgot-password_form {
  animation: SlideInLeft 1.2s ease;
}
.forgot-password .back-to_login {
  transition: all 0.3s ease;
}
.forgot-password .back-to_login:hover {
  transform: scale(1.05);
  color: var(--slamoncolor);
  font-weight: 600;
}
.forgot-password .back-to_login:hover svg path {
  fill: var(--slamoncolor);
  stroke: var(--slamoncolor);
}
