:root{
  --maincolor: #8DD3BB;
  --mainfont: "Montserrat", sans-serif;
  --secondaryfont: "Libre Franklin", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainfont);
}
a{
  text-decoration: none;
}
.navbar-brand{
  margin-right: 0;
}
.navbar .row {
  margin: 0;
  width: 100%;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 0 1px;
  border: none;
}