/* new password form start */
.new-password .input_item {
  position: relative;
}
.new-password .input_item .form-label {
  top: -10px;
  left: 10px;
  color: #1c1b1f;
  z-index: 2;
}
.new-password .input_item .form-control {
  border-color: #79747e;
}
.new-password .input_item .form-control::placeholder {
  color: #1c1b1f;
}
.new-password .password-field .password-toggle {
  top: 12px;
  right: 12px;
}
.new-password .form-check .form-check-input[type="checkbox"] {
  border-radius: 3px;
}
.new-password .form-check .form-check-input:checked {
  background-color: #000;
  border-color: #000;
}
.new-password .form-check .form-check-input:focus {
  border-color: #000;
  outline: 0;
}
/* new password form end */
/* carousal start */
.new-password .carousel-indicators {
  bottom: 20px;
  margin-bottom: 0;
}
.new-password .carousel-indicators [type="button"] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}
.new-password .carousel-indicators [type="button"].active {
  background-color: var(--maincolor);
  width: 24px;
  height: 8px;
  border-radius: 4px;
}
.new-password .carousel-indicators [type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* carousal end */
