/* carousal start */
.sign-up .carousel-indicators {
  bottom: 20px;
  margin-bottom: 0;
}
.sign-up .carousel-indicators [type="button"] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  opacity: 1;
  margin: 0 4px;
  transition: all 0.3s ease;
}
.sign-up .carousel-indicators [type="button"].active {
  background-color: var(--maincolor);
  width: 24px;
  height: 8px;
  border-radius: 4px;
}
.sign-up .carousel-indicators [type="button"]:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
/* carousal end */
/* sign up form start */
.sign-up .input_item {
  position: relative;
}
.sign-up .input_item .form-label {
  top: -10px;
  left: 10px;
  color: #1c1b1f;
  z-index: 2;
}
.sign-up .input_item .form-control {
  border-color: #79747e;
}
.sign-up .input_item .form-control::placeholder {
  color: #1c1b1f;
}
.sign-up .password-field .password-toggle {
  top: 12px;
  right: 12px;
}
.sign-up .form-check .form-check-input[type="checkbox"] {
  border-radius: 3px;
}
.sign-up .form-check .form-check-input:checked {
  background-color: #000;
  border-color: #000;
}
.sign-up .form-check .form-check-input:focus {
  border-color: #000;
  outline: 0;
}
.sign-up .devider::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 35%;
  background-color: var(--blackishgreencolor);
  opacity: 25%;
}
.sign-up .devider::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 35%;
  background-color: var(--blackishgreencolor);
  opacity: 25%;
}
/* sign up form end */
.carousel {
  animation: SlideInLeft 1.2s ease;
}
.sign-up_form {
  animation: SlideInRight 1.2s ease;
}
.sign-up_form .checkbox .form-check-input {
  transition: all 0.3s ease;
}
.sign-up_form .checkbox .form-check-input:checked {
  animation: BigBounce 0.4s ease;
}
.sign-up_form .checkbox .form-check-label a {
  transition: all 0.3s ease;
}
.sign-up_form .checkbox .form-check-label a:hover {
  transform: translateY(-2px);
  font-weight: 600;
}
.sign-up_form .login .login-btn {
  transition: all 0.3s ease;
}
.sign-up_form .login .login-btn:hover {
  transform: translateY(-2px);
  font-weight: 600;
}
